
/* rem - 1rem = 20px */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: Arial, sans-serif;
   
}

li {
    text-decoration: none;
    list-style: none;
}

li a{
    text-decoration: none;
}

header{
    width:100%;
    background-color: #0F0F0F
;

    
}

nav {
    display: flex;
   align-items: center; 
   justify-content: space-between;
   align-items: center;
   padding: 0 8rem;
   height: 10vh;
   

}
.nav_links a{
    color: #8A8780;
}

.logo_text{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    color: white;
}

.logo_color{
    color: gold;
}
.nav_links{
    display: flex;
    gap: 3rem;
}

.hero_section{
    display: flex;
    height: 90vh;
    background-image: url("../assets/time-travel-hero.jpg");
      background-size: cover;
  background-repeat: no-repeat;
  background-position:center top;
}

.hero_content{
    display: flex;
    flex-direction: column;
       justify-content: center; /* vertical center */
    align-items: start;     /* horizontal center */
    width: 100%;
    height: 100%; 
    padding: 8rem;
    gap: 1rem;
    max-width: 50%;
}

.hero_text{
    
    max-width: 500px;
    
    color: white;
    

}

.hero_paragraph{
    line-height: 23px;
}

.button{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;


}

.cta_btn{
    padding: 1rem 1rem;
    background-color: gold;
    font-weight: 600;
}