
/* rem - 1rem = 20px */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: Arial, sans-serif;
   
}

li {
    text-decoration: none;
    list-style: none;
}

li a{
    text-decoration: none;
}

header{
    width:100%;
    background-color: #0F0F0F
;

    
}

nav {
    display: flex;
   align-items: center; 
   justify-content: space-between;
   align-items: center;
   padding: 0 8rem;
   height: 64px;
   

}
.nav_links a{
    color: #8A8780;
}

.logo_text{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    color: white;
}

.nav_links{
    display: flex;
    gap: 3rem;
}

.hero_section{
    height: 60vh;
    background-image: url("../assets/time-travel-hero.jpg");
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

